
header {
    background-color: #242424;
    color: #ececec;
    display: flex;
    align-items: center;  
    height: 120px;         
}

header .logo{
    margin: 0;
    height: 200px;
    display: flex;
}



body {

    font-family: Arial, sans-serif;
    background-color: #ececec;
    color: #242424;
    margin: 0;
    min-height: 100vh;
}


section {
    background-color: #ececec;
    color: #242424;
    padding: 40px;
    min-height: 100vh;
}

footer {
    background-color: #242424;
    color: #ececec;
    margin-top: auto;
    text-align: center;
    padding: 10px;
}
