body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("/app/static/media/BIYBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-image: url("/app/static/media/BIYBackground.jpg");
    color: #242424;
    padding: 20px;
    text-align: center;
}

section {
    padding: 40px;
}

footer {
    background-image: url("/media/BIYBackground.jpg");
    color: #242424;
    text-align: center;
    padding: 10px;
}
