<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIY - Sistema de Gestión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <a href="http://127.0.0.1:5000">
        <img src="/static/media/BIYAlt.png" alt="LogoBIYAlt" class="logo">
    </a>
</header>
    
<section>
    {% block content %}{% endblock %}
</section>

<footer>
    <p>Believe in Yourself @ 2021</p>
</footer>

</body>
</html>